body{
    background-color: gray;
    justify-content: center;
}
.wellcom{
    background-color: white;
    color: maroon;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 100px;
    display: inline-block;
    border: 5px solid rgb(238, 8, 8);
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 1px;
    box-shadow: 5px 5px purple;
    box-sizing: border-box;
    border-radius: 20px;
}
.middle{
    border: 5px solid green;
}
.one{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2PX 1px;
    width: 250px;
    height: 250px;
    padding: 30px 5px;
    border-radius: 20px; 
}
.two{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2PX 1px;
    width: 250px;
    height: 250px;
    padding: 30px 5px;
    float: right;
    border-radius: 20px; 
}
img{
    height: 200px;
    width: 200px;
}
.three{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-shadow: 2PX 1px;
    width: 250px;
    height: 250px;
    padding: 20px 5px;
    float: right;
    margin-top: 100px;
    border-radius: 20px;
}
label{
    color: maroon;
    font-size: large;
}
input{
    text-align: center;
}
.four{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-shadow: 2PX 1px;
    width: 250px;
    height: 250px;
    padding: 20px 5px;
    margin-top: 100px;
    border-radius: 20px;
}
.center{
    color: rgb(158, 11, 11);
    border: 7px solid rgb(255, 94, 0);
    background-color: rgb(176, 240, 50);
    font-weight: bold;
    font-style: italic;
    padding: 15px 10px 5px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2t0px;
    box-shadow: 7px 7px rgb(79 10 241);
    position: fixed;
    left: 400px;
    right: 400px;
    bottom: 50px;
    border-radius: 20px;
}
.box{
    background-color: blue;
    display: block;
    width: 1000px;
    height: 1000px;
   justify-content: center;
   margin-top: 100px;
   margin-left: 250px;
   border: 5px solid red;
}
h1{
    text-align: center;
    margin-top: 50px;
    
}
.niki{
    margin-top: 100px;
}

.p{
    font-weight: bolder;
    font-size: 25PX;
    
}
hr{
    margin-left: 5px;
    margin-right: 5px;
}
.n{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2PX 1px;
    width: 485px;   
    margin-left: 10PX;
    height: 300PX;
}
.p{
    background-color:white;
    border: 5px solid orangered;
    display: block;
    box-shadow: 5px 5px purple;
    text-align: center;
    box-sizing: border-box;
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-shadow: 2PX 1px;
    width: 485px;
    margin-right: 10PX;
    float: right;   
    height: 300PX; 
}
span{
    text-shadow: none;
    font-size: 18PX;
}
.end{
    background-color: white;
    box-shadow: 5px 5px purple;
    border: 5px orangered solid;
    margin-top: 30px;
    color: maroon;
}
.others{
    text-align: center;
    margin-top: 50px;
    text-shadow: 2PX 1px;
    color: maroon;
    font-size: 50px;
    font-style: italic;
}